body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

tbody, td, tfoot, th, thead, tr {
    height: 50px;
}

/* Estilos del primer card */
.card-one {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-one-header {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-one-body {
    padding: 20px;
}

/* Estilos del segundo card */
.card-two {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-two-header {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-two-body {
    padding: 20px;
}

/* Estilos del tercer card (con margen) */
.card-three {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-three-header {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-three-body {
    padding: 20px;
}

/* Estilos para la tabla de registros */
.table-container {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    width: 198px;
    border: 2px solid white;
}
.horario-content{
    font-size: 12;
    height: 3rem;
}

.horario-content:hover{
    background: #d9d9d9dd;
    box-shadow: inset 0 0 0 3px gray;
}

/* Estilos personalizados */
.encabezado {
    background-color: black;
    color: white;
}

.horario {
    background-color: #757575;
    color: white;
}

.linea-divisoria-horizontal {
    border-bottom: 1px solid #dee2e6;
}

.linea-divisoria-vertical {
    border-right: 1px solid #dee2e6;
}

.seleccionado {
    background-color: #007bff !important;
    color: white;
}

.d-none {
    display: none !important;
}

.fixed-top{
    background: gray;
}